/* 全局变量定义，未使用*/
$PRIMARY_COLOR: #c20c0c;
$PRIMARY_COLOR_DARK: #a40011;
$THEME_BACKGROUND_COLOR: #242221;
$FONT_COLOR_LIGHT: #fff;
$FONT_COLOR_GREY: #ccc;
$FONT_COLOR_DARK: #333;
$BORDER_COLOR: #d3d3d3;
